@{
  Layout = "_Layout";
}

@model ElectronicsVendor.Models.ModelLine

<h4>Add a new model of <span class="highlighted">@ViewBag.Component.Type</span></h4>

@using (Html.BeginForm())
{
   @* @Html.Hidden("Id"); *@

  @Html.LabelFor(model => model.Name)
  <p>@Html.TextBoxFor(model => model.Name)</p>

  @Html.LabelFor(model => model.Manufacturer)
  <p>@Html.TextBoxFor(model => model.Manufacturer)</p>

  @Html.LabelFor(model => model.Price)
  <p>@Html.TextBoxFor(model => model.Price)</p>

  @* @Html.LabelFor(model => model.Component) <span>&nbsp;</span>
  @Html.DropDownList("ComponentId") <span>&nbsp;</span> *@
  <p></p>
  <p><input type="submit" value="Add new model" class="btn btn-default" /></p>
}
<p>@Html.ActionLink("Show all models", "Index")</p>